
/* This applies from 600px onwards */
@media (min-width: 992px) {
  /* Header of the page */
  .portfo-header {
    width: 100%;
    margin-right: 50px;
  }

  .mobile-nav {
    display: none;
  }

  .mylogo {
    padding-left: 135px;
  }

  .desk-nav {
    display: block;
    margin-top: 20px;
  }

  .desk-nav-ul {
    display: flex;
    justify-content: space-around;
  }

  .hamburger {
    display: none;
  }

  .desk-nav-ul li {
    padding-right: 50px;
  }

  .desk-nav-ul li a {
    color: #344563;
  }

  /* Start hero section */
  .hero {
    background-image: url("../images/header-bg-des.svg");
    margin-bottom: 50px;
  }

  .hero-content {
    margin-top: 5%;
    margin-left: 18%;
    margin-right: 15%;
  }

  .hero-content h1 {
    font-size: 2.6em;
  }

  .hero-content p {
    font-size: 1.1em;
  }

  .snapshoot {
    display: none;
  }

  .snapshoot-div {
    width: 544px;
    height: 448px;
  }

  .desk-snapshoot {
    width: 100%;
    height: 90%;
    padding-top: 30px;
    display: block;
  }

  .work {
    margin-left: auto;
    margin-right: auto;
    width: 1156px;
  }

  .work h1 {
    font-size: 2.2em;
    line-height: 52px;
  }

  .work-tonic {
    flex-direction: row;
    padding-right: 20px;
  }

  .reverse {
    flex-direction: row-reverse;
    margin-right: 50px;
  }

  .work-info {
    padding: 30px;
    width: 50%;
  }

  .tags {
    width: 305px;
    grid-template-columns: auto auto auto auto;
  }

  .tags > li {
    font-size: 0.66em;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .desk {
    display: flex;
  }

  .tags .desk {
    display: grid;
  }

  button {
    margin: 35px 0;
  }

  .text-info {
    margin-bottom: 30px;
  }

  .text-info ul {
    justify-content: unset;
    list-style: unset;
    font-size: 1em;
    margin-top: 1px;
  }

  .text-info ul .client-name {
    color: #344563;
    font-weight: 500;
    line-height: 24px;
    font-size: 1em;
  }

  .modal-tools li {
    margin-bottom: 10px;
  }

  .text-info ul li {
    padding-right: 30px;
  }

  .about-me {
    flex-direction: row;
    min-height: 700px;
  }

  .about-me-intro {
    width: 35%;
    margin-left: 10%;
  }

  .about-me-nav {
    margin-left: 5%;
    width: 40%;
  }

  .lang-submenu ul {
    display: grid;
    width: 100%;
    height: 144px;
    padding: 12px 12px 12px 1px;
    grid-template-columns: 122px 122px 122px;
    grid-template-rows: auto;
    grid-column-gap: 12px;
    position: relative;
  }

  .lang-submenu ul li {
    display: flex;
    width: 110%;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
  }

  .contact-me {
    background: url(../images/contact-\ background-des.svg) 100% 45px no-repeat;
    background-color: #6070ff;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .contact-me-content {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  form ul li textarea {
    width: 100%;
  }

  #submit-btn {
    margin-left: 125px;
  }

  .snapshoot1-mob {
    width: 100%;
    display: none;
  }

  .snapshoot1-desk {
    width: 100%;
    display: block;
  }

  .modal-description {
    font-size: 18px;
    color: #344563;
    font-weight: lighter;
    font-family: Popins, sans-serif;
    line-height: 28px;
    margin-top: 20px;
  }

  .detail-section {
    display: flex;
    justify-content: center;
  }

  .modal-mobile-detail {
    display: flex;
    gap: 20px;
  }

  .mobile {
    border-bottom: none;
    display: none;
  }

  .modal-info {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0 21px;
  }
}
