
body {
  align-items: center;
  font-family: Poppins, sans-serif;
  background-color: #e5e5e5;
  overflow-x: hidden;
}

ul {
  padding-left: 1px;
  list-style: none;
}

button:hover {
  background-color: #6070ff;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 8px 16px 0 #4053fc3d;
}

button:active {
  background-color: #2230d2;
  color: #fff;
}

a {
  text-decoration: none;
}

.desk {
  display: none;
}

/* container include all other parts */
.container {
  background-color: #e5e5e5;
  height: 100%;
  top: 0;
  border-bottom-left-radius: 90px;
  display: grid;
  justify-self: center;
  width: 90%;
  margin: 0 auto;
}

/* Header include my-logo and menu */
.portfo-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.header-container {
  display: none;
}

/* My logo style */
.mylogo {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  padding-left: 20px;
  text-decoration: none;
  animation: rotate 2s ease;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.desk-nav {
  display: none;
}

nav {
  background: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
}

nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.fa-bars {
  color: #6070ff;
}

.fa-times {
  color: #fff;
}

nav .logo {
  margin: 6px;
  font-size: 25px;
  cursor: pointer;
}

nav .mainMenu {
  height: 100vh;
  position: fixed;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  flex-direction: column;
  background: #6070ff;
  transition: left 1s ease;
  display: none;
  list-style: none;
  background-color: #6070ff;
  opacity: 90%;
}

nav .mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}

nav .openMenu {
  display: block;
  font-size: 2rem;
  margin: 20px;
  cursor: pointer;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.8em;
}

.icons i {
  display: inline-block;
  padding: 12px;
}

.hidden {
  display: none;
}

/* Hero include  top images, text and bottom images */

.hero {
  background: url('../images/bg-shapes.png');
  padding-left: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: -10px;
  border-radius: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  height: 621px;
}

/* our text */
.hero-text h1 {
  font-size: 2.22em;
  line-height: 52px;
}

.hero-text {
  margin-top: 130px;
  color: #172b4d;
}

.hero-socialmedia-icons ul {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  text-decoration: none;
  list-style: none;
  padding-left: 1px;
  padding-top: 10px;
  align-items: center;
}

.hero-socialmedia-icons li {
  padding-right: 10px;
}

/* Start Work Section */

/* Start Work Section */
.work {
  display: grid;
  grid-template-rows: auto;
  padding-left: 20px;
  width: min-content;
  margin-top: 60px;
}

.work h1 {
  color: #344563;
}

.desk-snapshoot {
  display: none;
}

.snapshoot-div {
  margin-top: 20px;
  margin-right: 20px;
}

.work-tonic {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  background-size: cover;
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  margin-bottom: 30px;
}

.tags {
  display: grid;
  grid-template-columns: auto max-content auto;
  gap: 18px;
  width: 203px;
  height: 24px;
  margin: 20px 0 25px 10px;
}

.tags > li {
  height: inherit;
  display: grid;
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  list-style: none;
}

.tags .desk {
  display: none;
}

.snapshoot {
  display: flex;
  justify-content: stretch;
  margin: 0 21px;
  transition: transform 1s linear;
}

.snapshoot:hover {
  transform: scale(1.03);
}

.text-info ul {
  display: flex;
  padding: 1px;
  margin: 1px;
  color: #000;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
}

.text-info ul .subtitle-0 {
  list-style: none;
  font-family: Poppins, sans-serif;
  color: #344563;
  font-weight: 600;
}

.modal-tools li {
  margin-bottom: 20px;
}

.text-info ul li {
  list-style: disc;
  padding-right: 20px;
  color: #7a869a;
}

.work-text {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
}

.see-proj {
  width: fit-content;
  height: 48px;
  background: #fff;
  color: #396df2;
  border-color: #396df2;
  border-radius: 10px;
  font-size: 1em;
  margin: 20px 0 20px 20px;
  padding: 10px;
}

nav .mainMenu li {
  margin-left: 20px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
}

/* About Me section */

.about-me {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 24px;
  border-top-right-radius: 70px;
  color: #000;
  min-height: 1100px;
}

.about-me-text {
  color: #000;
}

.about-me-text h2 {
  font-size: 2.22em;
  color: #172b4d;
}

.about-me-text p {
  font-size: 15px;
  line-height: 24px;
  align-items: center;
}

.skills ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px;
}

.lang-submenu ul {
  display: block;
  list-style: none;
  padding-bottom: 5px;
  color: #253858;
}

.lang-submenu ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
  background-color: #f7f7f9;
  margin: 10px;
  border-radius: 10px;
}

form ul li:not(:last-child) {
  margin-bottom: 20px;
}

nav .mainMenu li:first-child {
  margin-top: 110px;
}

#lets-connect-link {
  font-weight: 500;
  font-size: 0.9em;
  line-height: 24px;
  display: inline-block;
  margin-top: 10px;
  color: #061597;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

/* Contact me section */
.contact-me {
  min-height: 779px;
  min-width: 375px;
  width: 100%;
  background: url(../images/contact-form-shapes-mobile.png) 100% 45px no-repeat;
  background-size: auto 709px;
  background-color: #6070ff;
  border-top-left-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -100px;
}

.contact-header {
  margin-top: 90px;
  text-align: center;
}

.contact-header h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.22em;
  line-height: 52px;
  color: #fff;
}

.contact-header p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5em;
  color: #ebebff;
  margin-top: -12px;
  padding: 10px;
  transition: transform 3s;
}

.contact-header p:hover {
  transform: translateX(10px);
}

form {
  padding: 30px 24px 0 24px;
}

form ul li input {
  width: 90%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: white;
  font-size: 0.7em;
  line-height: 20px;
  color: #172b4d;
  padding: 15px 16px;
  outline: none;
}

form ul li input:focus {
  background-color: antiquewhite;
  border: 2px solid #abc5eb;
}

form ul li textarea {
  background: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 0;
  outline: none;
  width: 93%;
  height: 140px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #39393a;
  font-size: 0.6em;
}

form ul li textarea:focus {
  border: 2px solid #0f1011;
  background-color: antiquewhite;
}

#submit-btn {
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #061170;
  outline: none;
  border: 1px solid #6070ff;
  margin-bottom: 45px;
}

#submit-btn:hover {
  background-color: #6070ff;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 8px 16px 0 #4053fc3d;
}

#submit-btn:active {
  background-color: var(--deep-blue);
  color: var(--white);
}

#submit-btn:disabled {
  background-color: var(--white);
  color: var(--light-gray);
}

#submit-btn:focus {
  background-color: rgb(175, 207, 250);
}

/* SECTION WORK */

#work {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.content {
  display: grid;
  grid-template-rows: auto auto;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 9px;
  margin-bottom: 100px;
}

.snapshoot img {
  width: 100%;
}

.text-content {
  margin-bottom: 40px;
}

.tonic {
  padding: 5px 0 5px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.detail {
  padding: 0 20px 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}

.back-end {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.canopy {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #344563;
}

.tools {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}

.tool {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: #396df2;
}

.see-project {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-left: 20px;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
}

/* SECTION DETAIL */

/* MOBILE */

.modal {
  display: grid;
  grid-template-rows: auto auto;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.modal-div-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 21px;
}

.mob  {
  display: flex;
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
}

.close-modal {
  font-size: 30px;
  color: #67798e;
}

.modal-div-2 {
  display: flex;
  gap: 20px;
  margin: 0 21px;
}

.modal-img {
  margin: 0 21px;
}

.snapshoot1-mob {
  width: 100%;
}

.snapshoot1-desk {
  width: 100%;
  display: none;
}

.modal-info {
  margin: 0 21px;
}

.modal-tools {
  display: flex;
  gap: 20px;
  padding-left: 0;
  border-bottom: 1px solid #ebecf0;
  margin-top: 20px;
}

.modal-btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  margin: 20px 20px 0 0;
}

.modal-btn img {
  margin-left: 5px;
}

/* MODAL */

.popup {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0 0 0); /* Fallback color */
  background-color: rgb(0 0 0 / 40%); /* Black w/ opacity */
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

.subtitlePopupValue ul {
  display: flex;
}
